<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style type="text/css">
.container{
	margin-top:50px;
}
.row{
	margin:0px auto;
	width:350px;
}
</style>
</head>
<body>
	<div class="container">
		<h1 class="text-center">사원 상세보기</h1>
		<div class="row">
			<table class="table">
				<tr>
					<th>사번</th>
					<td th:text="${vo.empno}"></td>
				</tr>
				<tr>
					<th>이름</th>
					<td th:text="${vo.ename}"></td>
				</tr>
				<tr>
					<th>직위</th>
					<td th:text="${vo.job}"></td>
				</tr>
				<tr>
					<th>입사일</th>
					<td th:text="${vo.hiredate}"></td>
				</tr>
				<tr>
					<th>급여</th>
					<td th:text="${vo.sal}"></td>
				</tr>
				<tr>
					<th>부서</th>
					<td th:text="${vo.dept.dname}"></td>
				</tr>
				<tr>
					<th>근무지</th>
					<td th:text="${vo.dept.loc}"></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>