<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style type="text/css">
.container{
	margin-top:50px;
}
.row{
	margin:0px auto;
	width:800px;
}
</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<h1 class="text-center">사원목록</h1>
			<table class="table">
				<tr>
					<th class="text-center">사번</th>
					<th class="text-center">이름</th>
					<th class="text-center">직위</th>
					<th class="text-center">입사일</th>
					<th class="text-center">급여</th>
					<th class="text-center">부서명</th>
					<th class="text-center">근무지</th>
				</tr>
				<tr th:each="vo:${list}">
					<td class="text-center" th:text="${vo.empno}"></td>
					<td class="text-center">
						<!-- 링크 태그 -->
						<a th:href="@{/emp/detail(empno=${vo.empno})}" th:text="${vo.ename}"></a>
					</td>
					<td class="text-center" th:text="${vo.job}"></td>
					<td class="text-center" th:text="${vo.hiredate}"></td>
					<td class="text-center" th:text="${vo.sal}"></td>
					<td class="text-center" th:text="${vo.dept.dname}"></td>
					<td class="text-center" th:text="${vo.dept.loc}"></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>