<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style type="text/css">
.container{
	margin-top:50px;
}
.row{
	margin:0px auto;
	width:800px;
}
</style>
</head>
</head>
<body>
	<div class="container">
		<h3 class="text-center">수정하기</h3>
		<div class="row">
			<form method="post" action="/board/update_ok">
				<table class="table">
					<tbody>
						<tr>
							<td width="15%" class="text-right">이름</td>
							<td width="85%">
								<input type="hidden" name="no" th:value="${vo.no}">
								<input type="text" name="name" size="20" required th:value="${vo.name}">
							</td>
						</tr>
						<tr>
							<td width="15%" class="text-right">제목</td>
							<td width="85%">
								<input type="text" name="subject" size="50" required th:value="${vo.subject}">
							</td>
						</tr>
						<tr>
							<td width="15%" class="text-right">내용</td>
							<td width="85%">
								<textarea rows="10" cols="52" name="content" requred th:text="${vo.content}"></textarea>
							</td>
						</tr>
						<tr>
							<td width="15%" class="text-right">비밀번호</td>
							<td width="85%">
								<input type="password" name="pwd" size="10" required>
							</td>
						</tr>
						<tr>
							<td colspan="2" class="text-center">
								<button class="btn-sm btn-success">수정</button>
								<input type="button" class="btn-sm btn-warning" value="취소" onclick="javascript:history.back()">
							</td>
						</tr>	
					</tbody>
				</table>
			</form>
		</div>
	</div>
</body>
</html>
