<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style type="text/css">
.container{
	margin-top:50px;
}
.row{
	margin:0px auto;
	width:960px;
}
</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<table class="table">
				<tr>
					<td class="text-center" width="30%" rowspan="7">
						<img th:src="'http://menupan.com'+${vo.poster}" style="width:100%;">
					</td>
					<td colspan="2">
						<h3><span th:text="${vo.name}"></span>&nbsp;<span style="color:orange;" th:text="${vo.score}"></span></h3>
					</td>
				</tr>
				<tr>
					<th width="15%">주소</th>
					<td width="55%" th:text="${vo.address}"></td>
				</tr>
				<tr>
					<th width="15%">전화</th>
					<td width="55%" th:text="${vo.phone}"></td>
				</tr>
				<tr>
					<th width="15%">음식종류</th>
					<td width="55%" th:text="${vo.type}"></td>
				</tr>
				<tr>
					<th width="15%">영업시간</th>
					<td width="55%" th:text=${vo.time}></td>
				</tr>
				<tr>
					<th width="15%">주차</th>
					<td width="55%" th:text=${vo.parking}></td>
				</tr>
				<tr>
					<th width="15%">테마</th>
					<td width="55%" th:text="${vo.theme}"></td>
				</tr>
				<tr>
					<td colspan="3" th:text="${vo.content}"></td>
				</tr>
				<tr>
					<td colspan="2" class="text-right">
						<input type="button" class="btn-sm btn-danger" value="목록" onclick="javascript:history.back()">
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>